* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: white;
    background-color: black;
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  .app__videos {
    position: relative;
    height: 100vh; /* Full-screen height */
    width: 100%; /* Full-screen width */
    overflow-y: scroll; /* Vertical scroll */
    scroll-snap-type: y mandatory; /* Snap on scroll */
    -ms-overflow-style: none; /* Hide scrollbar for IE */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  
  .app__videos::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari */
  }
  
  .video {
    position: relative;
    height: 100vh; /* Full height for each video */
    width: 100%; /* Full width for each video */
    scroll-snap-align: start; /* Snap at the start of each video */
  }
  
  .video__player {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  